* {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 15vh;
  background-color: #8ef051;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: xx-large;
}

body {
  background-color: #e6ff01;
}

.setup {
  justify-content: center;
  margin-top: 10vh;
  align-items: center;
  display: flex;
  font-size: xx-large;
  height: 15vh;
  width: 100%;
  background-color: #e3fb11;
}

.punch {
  margin-top: 6vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: xx-large;
  height: 15vh;
  width: 100%;
  background-color: #e3fb11;
}

.random {
  background-color: #fcb653;
  margin-top: 15vh;
  height: 10vh;
  width: 23vh;
  border-radius: 12px;
  font-size: larger;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self: center;
}

@media (max-width: 768px) {
  .header {
    font-size: xx-large;
    height: 12vh;
  }
  .setup,
  .punch {
    font-size: x-large;
  }
  .random {
    font-size: larger;
    height: 8vh;
    width: 20vh;
  }
}

@media (max-width: 480px) {
  .header {
    height: 12vh;
    font-size: xx-large;
  }
  .setup,
  .punch {
    font-size: medium;
  }
  .random {
    font-size: medium;
    height: 7vh;
    width: 18vh;
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: xx-large;
  }
  .setup,
  .punch {
    font-size: x-large;
  }
  .random {
    font-size: larger;
    height: 12vh;
    width: 25vh;
  }
}
